* {
    margin: 0; padding: 0;
    font-family: '맑은 고딕', 'Malgun Gothic', Gothic, sans-serif;
}
a { text-decoration: none; }
li { list-style: none; }

/* 코딩 시작 지점과 끝 지점 사이에만 코딩하고, 그 외의 주어진 소스는 변경하면 안 됨 */
/* 코딩 시작 지점 */









/* 코딩 끝 지점 */